@model ProyectManagement.Models.ContributorViewModels.ContributorEditViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_layoutProyect";
}

<div class="row">
    <div class="col-md-4">
        <h6>Contributors</h6>
        @await Component.InvokeAsync("ContributorsSidebar", new { proyectId = (int)ViewData["currentProyect"] })
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h2>Edit</h2>
                <h4>Contributor</h4>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="SectionId" class="control-label"></label>
                                <select asp-for="SectionId" class="form-control" asp-items="ViewBag.SectionId"></select>
                                <span asp-validation-for="SectionId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
