
@{
    ViewData["Title"] = "Planner";
    Layout = "_layoutProyect";
}

<div id='calendar'></div>


@section Scripts {
<script>
    $(document).ready(
        $(function () {
        // page is now ready, initialize the calendar...
        $('#calendar').fullCalendar({
              eventSources: [
                {
                    url: '/Job/PlannerEvent?proyectId=@ViewData["CurrentProyect"]', // use the `url` property
					  color: '#007bff',    // an option! #4169E1
                    textColor: 'white'  // an option!
                }
            ]
        })
    }))
</script>
}
